/* Variables de Colores */
:root {
    --color-principal: #96132f;
    --color-secundario: #a49182;
    --color-fondo: #e3dcd4;
    --color-acento: #d1939c;
    --color-neutro: #faf9fe;
}

/* Estilos Generales */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-secundario);
}

/* Encabezado */
header h1 {
    font-size: 3.5rem;
    color: var(--color-principal);
}

.mensaje-principal {
    font-family: 'Great Vibes', cursive;
    font-size: 2.8rem;
    color: var(--color-acento);
}

/* Contador Circular */
.contador-circular {
    position: relative;
    display: inline-block;
}

.contador-circular svg {
    width: 120px;
    height: 120px;
    transform: rotate(-90deg);
}

.contador-circular circle {
    fill: none;
    stroke-width: 8;
}

#dias-circle {
    stroke: var(--color-principal);
}

#horas-circle {
    stroke: var(--color-acento);
}

#minutos-circle {
    stroke: var(--color-secundario);
}

#segundos-circle {
    stroke: var(--color-principal);
}

/* Confirmación */
#confirmacion {
    padding: 20px;
    background-color: var(--color-neutro);
}

/* Footer */
footer {
    background-color: var(--color-principal);
    color: var(--color-neutro);
    padding: 20px;
    text-align: center;
}
